<!DOCTYPE html>
<html dir="rtl">

<head>
  <title>Your Email</title>
  <style>
    p {
      font-size: 20px;
    }
  </style>
</head>

<body style="text-align: right; direction: rtl;">
  <div style="padding: 30px; background-color: rgba(229, 52, 53, 0.2); height: 100%;">
    <p><strong>שלום {{ name }},</strong></p>
    <p>בנוגע לבקשתך להתנדבות {{ nameA }}</p>
    <p>אחראי ההתנדבות בחן את בקשתכם, ועל כן</p>
    <p>רצינו לידע שהבקשה {{ message }}</p>
    <p>{{ m1 }}</p>
    <br />
    <p>אנו מודים לכם על העזרה שאתם מושיטים לנו</p>
    <p>בהצלחה בכל!</p>
  </div>

</body>

</html>