<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg-light" dir="rtl">
    <div class="container">
        <div class="card p-5 p-lg-10 space-y-4 m-3">
            <h1 class="h3 fw-700">
                שלום {{ name }}
            </h1>
            <p class="h6">
                ביקשת לאפס את הסיסמה שלך באתר Give Center
            </p>
            <p class="h6 fw-700">
                סיסמתך לאימות: <strong class="h3">{{ password }}</strong>
            </p>
            <p class="h6 fw-700">
                בברכה,
                <br>
                צוות Give Center
            </p>
        </div>
        <div class="text-muted text-center my-6">
            מייל זה נשלח אוטומתי ממערכת Give Center
        </div>
    </div>
</body>

</html>