<!DOCTYPE html>
<html dir="rtl">

<head>
  <title>Your Email</title>
  <style>
    p {
      font-size: 20px;
    }
  </style>
</head>

<body style="text-align: right; direction: rtl;">
  <div style="padding: 30px; background-color: rgba(229, 52, 53, 0.2); height: 100%;">
    <p><strong>שלום עמותת {{ name }},</strong></p>
    <p>בנוגע לבקשת פתיחת מערך התנדבות באתר "Give Center"</p>
    <p>הנהלת האתר בחנה את בקשתכם, ועל כן</p>
    <p>רצינו לידע שהבקשה {{ message }}</p>
    <p>{{ m1 }}</p>
    <h2>{{ password }}</h2>
    <p>{{ m2 }}</p>
    <br />
    <p>חווית המתנדב באתר עומדת בראש מעינינו</p>
    <p>אנו מודים לכם על העזרה בהשגת מטרתינו</p>
    <p>בהצלחה בכל!</p>
  </div>

</body>

</html>